<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Registration Page</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
<link rel="stylesheet" href="css/base.css" type="text/css"
	media="screen" charset="utf-8" />
<link rel="stylesheet" href="css/form.css" type="text/css"
	media="screen" charset="utf-8" />

</head>
<body ng-app="myApp">
	<div ng-controller="view1Ctrl" class="panel">
		<div id="container">
			<div id="header">
				<br /> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <img
					src="image/register_button.png" alt="" width="500" height="50">
				<br /> <br />
				<h1>
					&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp; Welcome To Registration Page!!!<br /> <br />
				</h1>
			</div>
			<br /> <br /> <br /> <br />
			<div id="content">
				<br />
				<div id="signup">
 					<h2>Sign up</h2>
					<form>
					      		 <CENTER>
						<table>
							<tr>
								<td>Email :</td>
								<td><input type="email" ng-model="email" 
									placeholder="Enter Email" /></td>
							</tr>
							<tr>
								<td>Password :</td>
								<td><input type="password" ng-model="password"
									placeholder="Enter password" /></td>
							</tr>
							<tr>
								<td>First Name :</td>
								<td><input type="text" ng-model="fname"
									placeholder="Enter First Name" /></td>
							</tr>
							<tr>
								<td>Last Name :</td>
								<td><input type="text" ng-model="lname"
									placeholder="Enter Last Name" /></td>
							</tr>

							<tr>
								<td>Date of Birth (eg. 31-03-1991):</td>
								<td><input type="date" ng-model="DOB"
									placeholder="Enter Date of Birth" /></td>
							</tr>
							<tr>
								<td>Sex :</td>
								<td><input type="radio" ng-model="sex" value="male">
									Male<br> <input type="radio" ng-model="sex" value="female">
									Female<br> <input type="radio" ng-model="sex"
									value="other"> Other</td>
							</tr>
							<tr>
								<td>
									<button type="submit" class="btn btn-primary"
										ng-click="register_User()">Register</button>
								</td>
								<td>
									<button type="reset" ng-click="reset">Clear</button>
								</td>
							</tr>
						</table>
						      		 </CENTER>
					</form>
				</div>

			</div>

		</div>
	</div>
</body>
<script>
	var app = angular.module('myApp', []);
	app.controller('view1Ctrl', function($scope, $http, $window) {

		$scope.register_User = function() {
			//alert("****************************");
			//$scope.text_result="Running EWR for "+ "[ "+$scope.data.model + " ]"+" Please wait....." ;
			var data = {
				email : $scope.email,
				password : $scope.password,
				fname : $scope.fname,
				lname : $scope.lname,
				DOB : $scope.DOB,
				sex : $scope.sex,
			}
			//if($scope.data.model == " ")
			//		{
			//var data=$scope.data.model;
			//alert($scope.email);
			//		}
			//	else{
			$http.post('/registerUser', data).success(function(data) {
				//$scope.text_result="\n" +data;
				if (data == 'User Already Exists') {
					alert('User Already Exists, Either go Login Page if already Registered or Choose Different email if not registered');
					$window.location.href = "/Register.html";
				} else {
					alert('User Registered');
					$window.location.href = "/Login.html";
				}
				console.log("posted successfully");
			}).error(function(data) {
				console.error("error in posting");
			})
		}
	});
</script>
</html>
